= form_for(@photo) do |f|
  - if @photo.errors.any?
    #error_explanation
      %h2
        = pluralize(@photo.errors.count, "error")
        prohibited this photo from being saved:
      %ul
        - @photo.errors.full_messages.each do |message|
          %li= message
  %div
    Provider #{f.text_field :provider}
  %div
    Account #{f.text_field :account}
  %div
    Unique ID #{f.text_field :unique_id}
  .actions
    = f.submit