%p#notice= notice
%table
  %tr
    %td
      = @photo.owner.nsid 
      = '::'
      = @photo.id
    %td= link_to 'Index', flickr_photos_path(flickr_id: params[:flickr_id])

%br
%div
  %span{id: 'caption'}
  &nbsp;


%div{style: 'height: 120px; overflow-y: scroll; white-space: nowrap;', id: 'picturebar'}
  - @photos.each do |photo|
    - if photo.id == @photo.id
      - css = {class: 'selected', style: 'border: 2px solid red;'}
    - else
      - css = {style: 'border: 2px solid white;'}
    = link_to image_tag(FlickRaw.url_t(photo), css), photo.id

%div{style: 'position:relative;'}
  = image_tag FlickRaw.url(@photo), style: 'position: absolute; top: 0; left: 0;'
  - @photo.notes.each do |note|
    .floating{style: "z-level: 100; position: absolute; border: 1px solid silver; top: #{note.y}px; left: #{note.x}px; width: #{note.w}px; height: #{note.h}px;", "data-caption" => note._content }

- content_for :window_load do
  :plain
    $('.floating').mouseover(function() {
      $(this).css('border-color', 'red');
      $('#caption').html($(this).data('caption'));
    }).mouseout(function() {
      $(this).css('border-color', '#cccccc');
      $('#caption').html('');
    });
    var relativeY = $('img.selected').offset().left - $('#picturebar').offset().left;
    if (relativeY / $(window).width() > 0.5)
    {
      $('#picturebar').scrollLeft(relativeY - 100);
    }
