!!!
%html
  %head
    %title Mugmarker
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    - if Rails.env.development? || Rails.env.test?
      = javascript_include_tag 'jquery.ba-throttle-debounce.min-1.1.js'
      = javascript_include_tag 'underscore-min-1.7.0.js'
      = javascript_include_tag 'backbone-min-1.1.2.js'
    - else
      = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js'
      = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js'
      = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js'
    = csrf_meta_tags
    :javascript
      var window_load_ready_function = function() {
         #{ yield :window_load }
      }
      $(window).load( window_load_ready_function );
      $(document).on( 'page:load', window_load_ready_function );
  %body
    .container
      .page
        = yield