<!DOCTYPE html>
<html>
<head>
  <title>Mugmarker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
  var window_load_ready_function = function() {
    <%= yield :window_load %>
  }
  $(window).load( window_load_ready_function );
  $(document).on( 'page:load', window_load_ready_function );
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
